* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: url(/public/images/back.jpg);
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.navbar {
  margin-top: 0;
  width: 100%;
  /* position: fixed; */
}
/* Banner */
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.navbar-brand {
  font-family: sans-serif;
}
.nav-link {
  font-family: sans-serif;
  text-transform: capitalize;
}
.banner-text {
  font-family: sans-serif;
  color: #000;
  font-weight: bold;
  font-size: 15px;
}

.banner-btn a {
  background: #0d470d;
  border: 1px solid #fff;
  border-radius: 25px;
  text-transform: capitalize;
  text-decoration: none;
  padding: 10px 50px;
  display: inline-block;
  margin: 15px;
  color: #ffffff;
  font-weight: bold;
}

.banner-btn a.active:hover {
  background: transparent;
  border-color: #000;
  color: #000;
}

/* Responsive CSS */
@media (max-width: 600px) {
  .banner-text p {
    display: contents;
  }
  .navbar-dark {
    background-color: #333;
  }
  .text-area {
    font-size: 100px;
  }
}
.login-link {
  text-decoration: none;
  width: 80px;
  padding: 10px 10px;
  border: 1px solid #000;
  background-color: #0d470d;
  border-radius: 5px;
  text-shadow: #000;
  text-align: left;
  color: #ffff;
}

/* Orders CSS */
.orderform {
  padding: 10px;
  border: 1px solid #000;
  width: 500px;
  margin: 100px;
  place-items: center;
  border-radius: 10px;
}
h4 {
  text-align: center;
}
.btn-primary-btn {
  float: right;
}
.btn2 {
  float: right;
  width: 100%;
}
.btn-block {
  width: 100%;
  float: right;
}
