extends layout
block content
    header.card-header
        h4.card-title Add Employee (Driver or Conductor) 
    form(method="POST"  action='/employee/createEmployee' enctype="multipart/form-data")
        div.form-row
            div.col.form-group
                label First name 
                input.form-control(name="firstname")
            div.col.form-group
                label Last name
                input.form-control(name="lastname")
            div.col.form-group
                label NIN
                input.form-control(name="nin")
        div.form-row                                   
            div.col.form-group
                label Gender 
                select.form-control(name="gender")
                    option(value="driver")  Male
                    option(value="conductor") Female
            div.col.form-group
                label Date of birth 
                input(type='date' name='date') 
            div.col.form-group
                label Date of birth 
                input(type='date' name='date')          
        div.form-row
            div.col.form-group
                label Upload image
                input(type='file' name='imageupload')
            div.col.form-group
                label Role 
                select.form-control(name="role")
                    option(value="driver")  Driver
                    option(value="conductor") Conductor
        div.form-row
            div.col.form-group
                button.btn.btn-primary.btn-block Register Employee
        div.form-row
            div.pull-right
                a(class='button' href='/employee/employeeList') Employee List
