doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Create Employee
  link(rel='stylesheet' href='/css/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/css/login.css')
nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href='/') Stay Clean
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ms-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page' href='/') Home
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') About US
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') Services
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') Contact Us
      form.d-flex(method='POST' action='/logout')
        a(class="btn.btn-outline-success login-link" href='/login') LOGOUT         
.card
  .card-header
    h4 Add Employee (Driver/Conductor)
  .card-body
    form.row.g-3.orderform(method='POST' action='/employee/createEmployee' enctype="multipart/form-data")
      .col-md-6
        label.form-label(for='name') First name
        input#inputfirstname.form-control(type='name' placeholder='first name' name='firstname')
      .col-md-6
        label.form-label(for='name') Last name
        input#inputlastname.form-control(type='name' placeholder='last name' name='lastname')
      .col-md-6
        label.form-label(for='nin') NIN
        input#inputnin.form-control(type='text' placeholder='national id' name='nin')
      .col-md-6
        label.form-label(for='username') User name
        input#inputusername.form-control(type='text' placeholder='username' name='username')      
      .col-md-6
        label.form-label(for='gender') Gender
        select#inputGender.form-select(name='gender')
          option(selected='') Choose...
          option Male
          option Female
      .col-md-6
        label.form-label(for='dob') Date of birth
        input#inputdate.form-control(type='date' placeholder='date' name='date')
      .col-md-6
        label.form-label(for='service') Role
        select#inputRole.form-select(name='role')
          option(selected='') Choose...
          option Driver
          option Conductor
      .col-md-12
                label Past incidents 
                div
                    label.form-check.form-check-inline 
                        span.form-check-label accidents    &nbsp
                        input.form-check-input(type="checkbox" checked name="pastincidents" value="accidents")
                    label.form-check.form-check-inline 
                        span.form-check-label fights   &nbsp
                        input.form-check-input(type="checkbox" checked name="pastincidents" value="fights")
                    label.form-check.form-check-inline 
                        span.form-check-label fuel thefts &nbsp
                    input.form-check-input(type="checkbox" checked name="pastincidents" value="fuelthefts")
      .col-12
        button.btn.btn-primary.btn2(type='submit') Register Employee
script(src=' https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js')
