doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Home
  link(rel='stylesheet' href='/css/css/styles.css')
.banner
  .slider
    img#slideimg(src='/public/images/back.jpg' alt='bgimg')
  .overlay
    .navbar
      .logo STAY CLEAN
    .menu-icon
    .content
      h1 STAY CLEAN YOUR ULTIMATE GARBAGE COLLECTION SERVICE      
      div        
        a(href='/register')
          button.btn.btn-primary-btn-lg(type='button')
            | Register
        a(href='/order')
          button.btn.btn-primary-btn-lg(type='button')
            | Subscribe