extends layout
block content

    header.card-header
        h4.card-title Register Front Desk Officer  
    form(method="POST" action='/register')
        div.row.g-3
            div.col-md-6
                label First name 
                input.form-control(name="firstname")
            div.col-md-6
                label Last name
                input.form-control(name="lastname")
            div.col.form-group
                label User name
                input.form-control(name="username")
        div.row.g-3
            div.col-md-6
                label Create Password
                input.form-control(type="password" name="password")
            div.col-md-6
                label Re Enter Password
                input.form-control(type="password" name="re-enterpassword")
        div.form-row
            div.col.form-group
                button.btn.btn-primary.btn-block Register      
        